# NPM #
##########
# Ignore all directories called node_modules in current folder and any subfolders.
node_modules/
/node_modules/

# Built files
dist/

# VSCode related files #
# .vscode

# code coverage folder
coverage/